$color-1: #4F4F4F;
$color-2: #062856;
$color-clear: #fff;

$color-institucional: #0c499c;
$color-institucional-rgba: rgba(12, 73, 156, 0.9);
$bg-transparent-obscure: rgba(0, 0, 0, 0.5);
$HeaderWebSize: 6rem;
$HeaderMobileSize: 4.5rem;
$HeaderSize: 6rem;
$color-error: #C45353;

$principal-font: "Helvetica Neue";
